* {
  box-sizing: border-box;
}

body {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.game-board {
  background-color: blue;
  padding: 10px;
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  grid-gap: 10px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.square {
  text-align: center;
  width: 40px;
  height: 40px;
  background-color: lightblue;
  font: 30px Serif;
}

.clickable {
  background-color: yellow;
}
